@font-face {
  font-family: lemonMilk;
  src: url("fonts/LEMONMILK-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Adicionado para incluir as bordas no cálculo do tamanho total */
}

.cabecalho {
  display: flex;
  background-color: #52008c;
  padding: 25px;
}

.logo {
  position: absolute;
  width: 200px;
  align-items: center;
  margin: 15px 15px;
}

.local {
  color: #fff;
  background-color: #b8ad66;
  font-family: "Baloo Bhaina 2", sans-serif;
  font-weight: 600;
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 22px;
  width: 220px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seetings {
  display: flex;
  align-items: center;
}

body {
  background-color: #6f02bc;
}

.container {
  padding: 15px;
  margin: 75px auto;
  align-items: center;
  justify-content: center;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.carrossel-container,


/* CodingNepal YOUTUBE CREDS */
/* CALENDARIO */

.wrapper {
  text-align: center;
}

.wrapper {
  position: relative;
  max-width: 500px;
  width: 500px;
  max-height: 500px;
  height: 500px;
  padding: 20px;
  margin: auto;
  overflow: hidden; /* Adicionado para esconder qualquer conteúdo adicional que possa vazar */
  background-color: #599e88;
  border-radius: 70px;
}

.wrapper header {
  border-radius: 70px;
  background-color: #60aa93;
  display: flex;
  align-items: center;
  padding: 25px 30px 20px;
  justify-content: space-between;
  font-family: "inter";
}

header .icons {
  display: flex;
}
header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #bae6a3;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child {
  margin-right: -10px;
}
header .icons span:hover {
  background: #f2f2f2;
}
header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar {
  padding: 20px;
  font-family: lemonMilk;
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

.calendar li:hover {
  color: #ffd466;
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}
.calendar .days li {
  z-index: 1;
  position: relative;
  margin-top: 30px;
}
.days li.inactive {
  visibility: hidden;
}
.days li.active {
  color: #fff;
}
.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background: #7300a9;
}
.days li:not(.active):hover::before {
  background: #7300a9;
}

/* CALENDARIO */
/* CodingNepal YOUTUBE CREDS */

.carrossel-container {
  position: relative;
  max-width: 500px;
  margin: auto;
  overflow: hidden; /* Adicionado para esconder qualquer conteúdo adicional que possa vazar */
}

.carrossel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel-img {
  margin: 100px;
  height: 300px;
}

button {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 40%;
  padding: 30px;
  cursor: pointer;
}

#prevBtn {
  left: -30px;
}

#nextBtn {
  right: -30px;
}
