* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Adicionado para incluir as bordas no cálculo do tamanho total */
}

.cabecalho {
  display: flex;
  background-color: #52008c;
  padding: 25px;
}

.logo {
  position: absolute;
  width: 200px;
  align-items: center;
  margin: 15px 15px;
}

.local {
  color: #fff;
  background-color: #b8ad66;
  font-family: "Baloo Bhaina 2", sans-serif;
  font-weight: 600;
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 22px;
  width: 220px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seetings {
  display: flex;
  align-items: center;
}

body {
  background-color: #6f02bc;
}

.container {
  padding: 15px;
  border: 1px solid red;
  margin: 75px auto;
  align-items: center;
  justify-content: center;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.carrossel-container,
.calendario-container {
  text-align: center;
  border: red solid;
}

.calendario-container {
  border: red solid;
  position: relative;
  max-width: 500px;
  width: 500px;
  max-height: 500px;
  height: 500px;
  padding: 20px;
  margin: auto;
  overflow: hidden; /* Adicionado para esconder qualquer conteúdo adicional que possa vazar */
  background-color: #599e88;
  border-radius: 40px;
}

.carrossel-container {
  position: relative;
  max-width: 500px;
  margin: auto;
  overflow: hidden; /* Adicionado para esconder qualquer conteúdo adicional que possa vazar */
}

.carrossel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel-img {
  margin: 100px;
  height: 300px;
}

button {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 40%;
  padding: 30px;
  cursor: pointer;
}

#prevBtn {
  left: -30px;
}

#nextBtn {
  right: -30px;
}

.fase-lunar {
  color: #52008c; /* Cor roxa */
  font-weight: bold;
}
