* {
  margin: 0;
  padding: 0;
}

.cabecalho {
  display: flex;
  background-color: #861fb5;
  padding: 15px;
}

.logo {
  position: absolute;
  width: 150px;
  align-items: center;
  margin: 0 auto;
  margin-left: 20px;
  margin-top: 8px;
}

.local {
  color: #fff;
  background-color: #b8ad66;
  font-family: "Baloo Bhaina 2", sans-serif;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
  width: 210px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seetings {
  display: flex;
  align-items: center;
}

.principal {
  padding: 15px;
  border: 1px solid red;
  margin: 75px auto;
  align-items: center;
  justify-content: center;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.luas,
.calendario {
  height: 600px;
  text-align: center;
  border: red solid;
}
